@font-face {
font-family: "BitstreamVS";
src: url("BitstreamVeraSansMono-xj20.ttf");
}

html {
    font-size: 29.1px
    }
    
    body { 
        background-color: rgb(0, 0, 0);
        font-family:"BitstreamVS";
        color: rgb(0, 255, 0);
    }

    a{
        color: rgb(0, 255, 0);
    }

    a:visited {
        color: rgb(0, 255, 0);
    }

    a:hover, a:active{
        color: rgb(43, 255, 0);
    }

    #my{
        zoom: 125%;
        }


        

        .button1 {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          }
          
          .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }


          a {text-decoration : none;}